@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button><a href="/Todo/Index">Todo</a></button>
    <button><a href="/Category/Index">Category</a></button>
</div>
